[2019-10-13 21:43] liyishuai opened #1 "CircleCI template"
The script in [coq-ext-lib](//github.com/coq-community/coq-ext-lib/blob/master/.circleci/config.yml) is quite generic. Is it worth a template here?

[2019-10-14 12:47] Zimmi48 commented on #1
I guess it would, although the question is whether we want to have just one standard recommendation, or many supported alternatives (one potential upcoming alternative is GitHub Actions, but none of us has tried yet as far as I am aware). What made you prefer CircleCI to Travis BTW?

[2019-10-14 20:15] liyishuai commented on #1
CircleCI allows me to run customized testing script within Docker, which is more convenient than sending commands to Docker:
https://github.com/coq-community/templates/blob/70012e321130642603f5b1913b1627fcbc22b6f9/.travis.yml.mustache#L24-L28
In [QuickChick](https://travis-ci.org/QuickChick/QuickChick) we managed to do without Docker, but had to install Coq manually, which takes a long time, and i

[2019-10-14 21:39] erikmd commented on #1
@liyishuai

But if I understand correctly what you mean by "customized testing script", it seems to me that this feature is directly available the Travis-CI+Docker setup?

I mean, in the suggested template for Travis CI (using `docker run`), you can definitely put any customized Bash script, e.g. with if-then-else, variables, etc. (cf. e.g. [this snippet](https://github.com/erikmd/docker-coq-travi

[2019-10-14 21:44] erikmd commented on #1
As pointed out by @Zimmi48,

A few thoughts on that:

* if we decide to add the Circle CI config as an official recommended template, the GitLab CI config should probably be added as well (cf. my previous comment)
* the three alternatives considered here (Travis CI, Circle CI and GitLab CI) are very similar (once you know the availability of the underlying Docker images, the conf file is easy to a

[2019-10-14 21:46] erikmd commented on #1
Also FYI @clarus recently published a nice blog article that elaborates on the Travis-CI+Docker setup:

http://coq-blog.clarus.me/continuous-testing-for-coq-projects.html

[2019-10-14 21:52] liyishuai commented on #1
Now I agree that the Travis boilerplate is no worse than CircleCI, but it should be even better: coq-community/manifesto#70. The current solution is still more complex than existing [Languages](https://docs.travis-ci.com/user/languages/) supported by Travis.

[2019-10-14 22:10] erikmd commented on #1
Hi @liyishuai,
I see what you mean :) but I now remember I had encountered some open issue in the Travis CI project, which would precisely improve on that situation (regarding "custom Docker images)… without needing extra effort from the language maintainers themselves.

So I will post the link in [the issue you mention](https://github.com/coq-community/manifesto/issues/70) (not here because #1 sp

[2019-10-15 16:13] Zimmi48 commented on #1
Note that the CI service / provider (Travis, GitLab CI, CircleCI, GitHub Actions) and the way it is used (via Docker and opam, or via Nix) are two mostly orthogonal things that could lead to as many as 8 solutions (not counting the many alternatives, such as using an Ubuntu ppa, that have been used in other projects so far).

[2020-02-02 22:14] anton-trunov opened #9 "Template for default.nix"
To fix build on Coq 8.9 and Coq 8.10 for https://github.com/coq-community/coq-bits, this needed to be added to `default.nix`:

[code]

See https://github.com/coq-community/coq-bits/pull/3

[2020-02-03 22:48] palmskog commented on #9
I have no idea if this is the right way to do it, I think we need someone with Nix expertise to comment. I thought it always sufficed to have `make install` to support Nix fully?

cc: @Zimmi48 @vbgl

[2020-02-04 08:47] vbgl commented on #9
The usual coq-makefile wants to install third-party libraries next to Coq standard library. This is incompatible with the immutability of the nix store. So indeed, it is common practice to explicitly tell coq-makefile where to install *this* library.

It is also possible to only set `installFlags` to avoid repeating `make` and `install` and co.

[2020-02-04 08:54] palmskog commented on #9
@vbgl but I thought the location problem was already handled by the following line in @anton-trunov's `default.nix`:
[code]
See https://github.com/coq-community/bits/blob/master/default.nix#L29

I was at least under the impression that `coq_makefile` respected the `COQLIB` variable and that saying explicitly `installPhase = ...` would therefore be redundant.

[2020-02-04 08:58] vbgl commented on #9
Thanks for clarifying. Indeed, setting the `COQLIB` variable in the `installFlags` should be enough. Is there a failing example to look at?

[2020-02-04 09:16] anton-trunov commented on #9
@vbgl Here you go: https://github.com/coq-community/bits/pull/8/checks?check_run_id=424943595. I removed that snippet and now it builds on Coq 8.7 and 8.8, but fails on 8.9 and 8.10.

[2020-02-04 09:17] palmskog commented on #9
So apparently only builds with Coq 8.9 and later are failing, e.g., https://travis-ci.com/coq-community/bits/jobs/283318683

Example:
[code]

I'm thinking this *could* be some weird Makefile-Nix interaction issue. @anton-trunov can you reproduce this error when using another delegating Makefile like this one? https://github.com/coq-community/huffman/blob/master/Makefile

[2020-02-04 09:41] anton-trunov commented on #9
@palmskog Indeed you are right about the Chapar Makefile: https://github.com/coq-community/bits/runs/424973800

[2020-02-04 09:48] anton-trunov commented on #9
Looks like this should be reported as a Coq issue. Because the Coq reference manual suggests using the original template: https://coq.github.io/doc/v8.11/refman/practical-tools/utilities.html#reusing-extending-the-generated-makefile

[2020-02-04 09:55] anton-trunov commented on #9
As pointed out by @vbgl, switching to
[code]
also solves the issue (this does not require changing `Makefile`)

[2020-02-04 10:01] palmskog commented on #9
OK, this is still a very strange error to me, but I guess we can change the `default.nix.mustache` template to replace `COQLIB` with `COQMF_COQLIB`.

[2020-02-06 10:11] Zimmi48 commented on #9
I haven't followed this issue closely. What does `COQMF_COQLIB` means?

[2020-02-06 10:25] vbgl commented on #9
Maybe Enrico can shed some light on this issue.

Ping @gares.

[2020-02-06 14:22] gares commented on #9
I don't have time to read all linked material. All the variables part of `Makefile.coq.conf` are prefixed by `COQMF_` so that you can include that makefile (containing only variables coming from coqtop -config roughly) in other makefiles. Internally `Makefile.coq` uses shorter names, eg COQLIB that take as default value what is in `Makefile.coq.conf`.

`Makefile.coq` already provides a variable to

[2020-02-06 14:45] vbgl commented on #9
Thanks for clarifying the difference between `COQLIB` and `COQMF_COQLIB`.

If the purpose `DESTDIR` is what you describe, then it’s probably broken:
[code]

Suppose I use a local Coq installation (in `$HOME/local/lib/coq/`) to build a library that I want to install into `/path/usr/lib/coq/user-contrib`; how should I set `DESTDIR`? Something like `/path/usr/` seems reasonable but won’t work…

So, c

[2020-02-06 15:06] Zimmi48 commented on #9
The way Coq finds these libraries is via $COQPATH, which is set when entering a `nix-shell`. This is a pretty common practice across a large variety of languages.

[2020-02-06 15:27] gares commented on #9
Yes, I know, *but* while, say, JAVAHOME existed since day one with that meaning, COQLIB has a different meaning. To my understanding was supposed to be used by the user to override the coq default. In some sense it is legitimate to write "whatever COQLIB=this" while in the nix world only "whatever COQLIB+=extra" really makes sense.

If you want to take over COQLIB, I'm fine with it, but you (nix g

[2020-02-06 15:40] vbgl commented on #9
Are you mixing `COQLIB` and `COQPATH`?

The `COQPATH` variable is used as per its [documentation](https://coq.github.io/doc/v8.11/refman/language/gallina-extensions.html?highlight=coqpath#libraries-and-filesystem) in nix packages.

The `COQLIB` variable is some implementation detail of coq-makefile; overriding it while calling `make install` is the only way I know to chose the target directory whe

[2020-02-06 18:38] gares commented on #9
Maybe it is not documented, but Coq uses `COQLIB`
https://github.com/coq/coq/blob/c6e89e2b13d7fa99aaaaf02fc3430ae6c5f00beb/lib/envars.ml#L97
for example we use it in the test suite, sphinx and CI to override where Coq looks for the stdlib, that depends on the build system for example. But yes, in my nix-rant I did confuse it with COQPATH that seems to be legit to use.

I looked at CoqMakefile.in a

[2020-03-10 16:54] erikmd opened #14 "Potential issue with YAML variables containing dashes"
Regarding the possible implementations of Mustache, I've successively tested pystache and mo.

On the one hand, pystache seems to be broken:

[code]

but on the other hand, `mo` (the Bash implementation) seems not to recognize YAML variables containing dashes:

[code]

hence this issue: should the `-`'s:

https://github.com/coq-community/templates/blob/84a16ca1931c70eb3541492257335fac0ad51e22/coq.

[2020-03-10 17:01] palmskog commented on #14
I'm using the Ruby mustache implementation. Not allowing dashes is quite a big limitation in my book, can you confirm that some other implementation besides the bash one disallows this?

I'm not completely averse to switching to underscores though, since it only seems to be a few fields that use this.

[2020-03-10 17:55] erikmd commented on #14
Thanks @palmskog, I confirm it was very fine with the Ruby implementation

(for the record, it amounted to installing this APT package: `apt-get install ruby-mustache`)

I've only done a few experiments with Bash, Python and Ruby so I can't really confirm this (but BTW it appears Bash and Python do not take a YAML as input: Bash takes environment variables (hence the `-` limitation in the template

[2020-03-11 17:47] palmskog commented on #14
@erikmd I'm open to switching to "underscores only" in all templates, feel free to do a PR with this. You can also add something to README about the Ruby mustache implementation.

[2020-03-11 19:46] erikmd commented on #14
@palmskog

done: https://github.com/coq-community/templates/pull/17

On second thought, I am unsure it is very practical to do such a refactoring, at least now, as the templates repo only contain the `.mustache` files but *not* an authoritative sample `meta.yml` file.

I don't know either if adding a sample `meta.yml` with underscores in the templates repo would be a solution, as in any case chang

[2020-03-11 19:58] palmskog commented on #14
Not having an authoritative `meta.yml` was a conscious choice, since I would likely have to update it quite often. See coq-community/manifesto#48 for some ideas on how the metadata format could be specified.

[2020-03-11 20:10] erikmd commented on #14
OK @palmskog, thanks for the link.

BTW when you say

I agree with you, and I guess furthermore it's an argument for not changing the metadata items names for `-`/`_` in particular, given that this would imply even more updates for existing `meta.yml` :)

[2020-03-16 18:18] Zimmi48 commented on #14
FTR I use the Go implementation, which also supports YAML input files.

[2020-03-26 14:17] gmalecha opened #19 "documentation on meta.yml"
It would be nice if there was a template for the meta.yml (or a link to a template).

[2020-03-26 14:33] anton-trunov opened #20 "Propagating changes from meta.yml to README, opam, etc. should be easier"
## Meta-issue ##

I'd like to have a `make` target, something like `make update_from_templates` or some other short and nice name, so every time I update `meta.yml` I can easily propagate the changes using from mustache templates into destination files.
This means we would probably need to separate the coq-community templates into a git repo and include them as a submodule into the projects that u

[2020-03-26 14:37] anton-trunov opened #21 "Add `version: "dev"` to opam template and coq-community repos"
As noted by @palmskog on Gitter:

[2020-03-26 14:37] #21 closed

[2020-03-26 14:38] Zimmi48 opened #22 "Issue with opam build using the template"
There is currently something going on that makes the opam job in math-classes, qarith-stern-brocot, lemma-overloading and aac-tactics fail.

The error looks like this:

[code]

cc @erikmd: You might be able to understand better than me what's going on.

[2020-03-26 14:38] #22 closed

[2020-03-26 14:39] palmskog opened #23 "Initial authors vs. other authors of projects"
## Meta-issue ##

Our current `README.md` and `opam` script templates make a distinction between initial authors and maintainers. However, going forward, I think this categorization is too limited. For example, if maintainers do significant refactoring or make extensions to a project, they deserve author recognition as well.

I see two ways to solve this:

1. Make no distinction between initial au

[2020-03-26 14:39] #23 closed

[2020-03-26 14:51] palmskog opened #24 "Document the project metadata format"
## Meta-issue ##

As per coq-community/manifesto#47, we need to document the various metadata items that we use in our templates, such as `email` for `authors` entries. One source of documentation is our [examples](examples), but they do not cover all cases.

We can either write regular documentation, or use some machine-readable format, such as [JSON Schema](https://json-schema.org/learn/miscella

[2020-03-26 16:28] Zimmi48 commented on #19
I feel like we are in a loop: the original versions of the templates were informal. Then, we decided to use the mustache format. This leads to the introduction of `meta.yml`. But now `meta.yml` has become complex enough that a template (I guess an informal template) is requested... What about good documentation and a type schema instead? Cf. #24.

[2020-03-26 19:34] gmalecha commented on #19
I think that a simple example would be sufficient for this. It could easily be linked from the README of this repository or included verbatim in it. As it is, the only way to understand what to put in there is to read all of the mustache files.

[code]

If you want to get fancy (and I assume that you don't), you could write a simple cli that asks all the questions, but it seems unnecessary.

[2020-03-26 19:50] Zimmi48 commented on #19
OK, in fact we used to have concrete examples (based on existing projects) but it was hard to keep them in sync with the evolution of the templates, so they were removed (coq-community/manifesto#95) in favor of linking to example projects from the README. Maybe these example projects should be better highlighted, and maybe we should also provide a dummy `meta.yml` with comments like you did. I qui

[2020-03-30 15:00] gmalecha opened #25 "gitlab-ci template?"
Does someone have a gitlab-ci template?

[2020-03-30 15:08] erikmd commented on #25
Yes, see e.g.:

- https://gitlab.com/erikmd/docker-coq-gitlab-ci-demo-1 (standard version, without Dockerfile)
- https://gitlab.com/erikmd/docker-coq-gitlab-ci-demo-2 (version with a Dockerfile)

[2020-04-01 17:52] Zimmi48 commented on #25
Note that is this is for use with a GitHub repo, setting @coqbot to synchronize PRs should be useful (cf. README at https://github.com/coq/bot).

[2020-04-29 10:38] Zimmi48 commented on #9
I believe this issue can be closed now.

[2020-04-29 10:38] #9 closed

[2020-05-01 15:24] Zimmi48 commented on #1
@liyishuai Following #26, would you like to add a CircleCI template that gets generated whenever `circleci` is true?

[2020-05-01 15:41] Zimmi48 commented on #25
Despite how good GitLab CI is, it seems to me that as long as coq-community's projects are on GitHub, we should favor CI solutions that integrate well with GitHub (we already provide GitHub Actions and Travis templates and might add a template for CircleCI, cf. #1).

[2020-05-01 15:41] #25 closed

[2020-05-01 19:54] liyishuai commented on #1
Yes I'll try to make one. It would require an extra field in `supported_coq_versions` formatted as Docker tags.

[2020-05-01 19:58] erikmd commented on #1
or maybe some interpolation would be enough? I mean, like this:

https://github.com/coq-community/templates/blob/f4859eb9b24e04925fc995fbe098b81028f2a000/.travis.yml.mustache#L54

[2020-05-01 21:06] liyishuai commented on #1
Great I'll use this one.

[2020-05-21 08:26] liyishuai commented on #19
We should provide a full reference of all the supported keys, like [Travis CI](https://config.travis-ci.com/), [CircleCI](https://circleci.com/docs/2.0/configuration-reference/), and [GitHub Actions](https://help.github.com/en/actions/reference/workflow-syntax-for-github-actions) do.

[2020-05-21 08:53] liyishuai opened #29 "generate.sh not compatible with macOS"
https://github.com/coq-community/templates/blob/cb4cced445482f1c8286f5beeb615ef0b105d59f/generate.sh#L9

https://unix.stackexchange.com/questions/30091/fix-or-alternative-for-mktemp-in-os-x

[2020-05-22 18:49] #19 closed

[2020-05-26 08:18] liyishuai opened #31 "`shortname` is overloaded"
The current template assumes that `shortname` is both (i) the repository name, and (ii) the package name following `coq-`. This excludes repository names like `coq-ext-lib` and `coq-simple-io`.

[2020-05-26 09:04] Zimmi48 commented on #31
The easiest way to fix this is probably to add an *optional* `opam_name` whose default value is `coq-{{ shortname }}`.

[2020-05-27 04:17] liyishuai opened #34 "License this repository"
Which license should we use, `LGPL-3.0-or-later`?

[2020-05-27 08:05] Zimmi48 commented on #34
Hum. This is a mistake from when the templates were split out of the manifesto repository. They were supposed to be under CC-0 license: https://github.com/coq-community/manifesto/blob/master/LICENSE.md

[2020-05-27 08:32] liyishuai commented on #34
CC-0 seems more content-oriented and fits the manifesto. For the code here we could probably switch to an open source license.

[2020-05-27 10:14] Zimmi48 commented on #34
OK. Well, I am fine with any choice of open source license from the following list:
- Unlicense (public domain dedication, equivalent to CC-0)
- MIT (only requires attribution and preservation of license notices)
- MPL-2.0 (copyleft limited to file modification, not to inclusion in another project)

As long as it is understood that generating a file from a template is not the same as modifying a t

[2020-05-27 12:27] #31 closed

[2020-05-27 12:54] palmskog commented on #34
This was an incredibly quick open-close process for such a potentially far-reaching decision. I am strongly against any form of copyleft license, including LGPL and MPL. As substantial contributor I think more than a few hours of waiting for me to weigh in would be warranted.The one license I most prefer is MIT, but I'm also open to Unlicense or CC-0.

@liyishuai can you please roll back your comm

[2020-05-27 12:59] liyishuai commented on #34
Sorry for my negligence! I've dropped that commit.

[2020-05-27 13:09] palmskog commented on #34
Thanks @liyishuai, I still appreciate that you raised the licensing issue. The main question seems to be whether we want to go near-public-domain or "regular permissive open source".

Here are some serious questions raised about CC-0, namely, that it has a very complicated fallback clause for jurisdictions that don't allow waiving all copyright: https://opensource.org/faq#cc-zero

So, as a first s

[2020-05-27 13:19] Zimmi48 commented on #34
The most known and commonly used permissive open source license today is MIT without doubt.

[2020-05-27 13:29] palmskog commented on #34
Based on a discussion with @Zimmi48 on Coq's Zulip, the two of us have converged on recommending the [Unlicense](https://unlicense.org) as the most hassle-free license for template-related files, since it has been vetted for use with code and has good fallback where waiving copyright is not possible.

The main argument against a license like MIT is that we may have to insert a special clause to en

[2020-05-27 13:37] liyishuai commented on #34
Approve Unlicense.

[2020-05-27 13:47] Zimmi48 commented on #34
Yes, I agree with the choice of Unlicense for this project (as already stated in your message), but let's be explicit :wink:

[2020-05-27 14:28] anton-trunov commented on #34
I fully support Unlicense.

[2020-05-27 14:39] #29 closed

[2020-05-27 14:46] liyishuai opened #36 "Potential improvements to generate.sh"
- [ ] The generated `index.md` does not render a GitHub Page directly, and needs to be converted into `index.html` via `pandoc index.md -o index.html`. Is it worth adding this conversion to `generate.sh`?
- [ ] Add option flag to generate one file without overwriting others.

[2020-05-27 22:38] #1 closed

[2020-05-27 22:39] palmskog opened #38 "Dune support in OPAM template"
We need to add support for optionally building with dune in `coq.opam.mustache`, most conveniently the latest version (2.5.1) which also supports extraction. However, we should wait for coq-community/docker-base#8 to be resolved first.

See [an example](https://github.com/coq-community/huffman/blob/master/coq-huffman.opam) of what a generated dune-enabled opam file could look like. The key lines a

[2020-05-27 22:44] erikmd commented on #34
Yes, I fully support Unilicense

[2020-05-27 22:52] palmskog opened #39 "Support for alternative Docker images in Travis"
In MathComp projects, it's likely better to use the MathComp Docker images than the stock Coq images, since this results in lower checking time. We can easily add support for alternative Docker images (at least in `.travis.yml.mustache`) by specifying some extra data under `tested_coq_opam_versions` in `meta.yml`, for example:
[code]
Which then becomes in `.travis.yml`:
[code]

[2020-05-27 23:00] palmskog opened #40 "Change all references to Gitter chat to Zulip chat"
Both the README and website templates reference the Gitter chat. This should be changed to references to the new Zulip chat, following the [change](https://github.com/coq/coq/commit/192d4bddea6df1b1ac9cad8354b0c821e1ba2534) to Coq's README.

[2020-05-27 23:03] palmskog opened #41 "Support specifying system packages to install in Docker"
Some extraction projects rely on OCaml libraries that require certain system packages to be installed. There should be a way in `meta.yml` to specify these system packages and have them be installed in Travis and other CIs that rely on Docker images.

[2020-05-28 07:28] Zimmi48 commented on #40
More specifically, the badge could link directly to the coq-community steam as was done in the Math-Comp README.

[2020-05-28 07:32] Zimmi48 commented on #41
The good practice in this case is to use opam depext fields. Then, the CI templates could simply run `opam-depext` (which is included in opam >= 1.1).

[2020-05-28 09:32] Zimmi48 opened #42 "generate.sh should be robust to incorrect YAML files."
Incorrect YAML files can lead to hard to decipher errors, or even completely strange behavior.
For instance, a `meta.yml` which contained the following incorrect part:

[code]
(https://github.com/math-comp/apery/blob/57704e1e97be40be9ffc3ae77b2a894200804f87/meta.yml#L58-L64)

led, when running `generate.sh` (with the mustache-go implementation) to:

[code]

and to the creation of 4 files (`default

[2020-05-28 10:05] Zimmi48 commented on #40
- [ ] Update template (#43)
- [ ] Update repositories using the README template
- [ ] Update repositories not using the template:
  - [ ] Template repo
  - [ ] Manifesto repo
  - [ ] VSCoq repo

[2020-05-28 13:13] Zimmi48 commented on #36
Regarding the conversion from Markdown to HTML, since the `index.md` file is already an auto-generated file, I wonder what's the point of using Markdown and if the template should not be already an HTML file. We could also document what's the user is expected to do in the case they activate `coqdoc` (setting up a `gh-pages` branch, what to push there, etc.) Couldn't the management of `gh-pages` be

[2020-05-28 13:50] chdoc opened #44 "Support using mathcomp images for CI"
Currently, the templates only support using the coq docker images for opam based CI. For projects depending on mathcomp this can be problematic/inconvenient for two reasons:

1. The full mathcomp takes quite a bit of time to build, so using images with mathcomp preinstalled would likely speed up CI runs.
2. The CI script always installs the latest version of mathcomp supported by the current packa

[2020-05-28 14:01] erikmd commented on #44
Hi @chdoc, yes it is possible to address these two use cases just by specifying a custom Docker image tag, which incorporates a given version of coq and coq-mathcomp-character (both pinned in the image)

e.g. for the docker-coq-action, this is documented here:

https://github.com/coq-community/docker-coq-action#custom_image

and for the Travis CI and CircleCI templates, the docker image name can b

[2020-05-28 14:39] CohenCyril opened #45 "Adding `default.nix`"
Can someone add a `default.nix` file in order to be able to run `nix-shell --run ./generate.sh` directly?

[2020-05-28 14:46] Zimmi48 commented on #45
FTR, the only dependency to this script is a mustache tool, and `mustache-go` is the tool that I found available though Nix that is able to parse YAML. Writing the `default.nix` file should be pretty straightforward.

[2020-05-28 14:49] Zimmi48 commented on #44
Note the very similar issue #39 opened just a few hours before.

@erikmd IMHO the suggested YAML in #39 is all that's needed and would be much simpler to implement, while also being more generic.

[2020-05-28 14:54] CohenCyril commented on #45
Yes I noticed, but I did not have the time to test mustache-go and I do not know if it matches the requirements (only ``ruby-mustache`` was mentionned before now...)

[2020-05-28 15:10] chdoc commented on #44
Sorry, I missed that issue, so I'm closing this one in favor of #39

[2020-05-28 15:10] #44 closed

[2020-05-28 15:31] Zimmi48 commented on #36
I just test running `pandoc index.md -o index.html` in the ATBR repository, and it seems like the actual command should be more complex than this because a lot seems to be lost when running just this command.

[2020-05-28 18:27] erikmd commented on #44
@Zimmi48

Yes I fully agree with you remark.

[2020-05-28 18:28] erikmd commented on #41
@Zimmi48 for this feature request, should we create a related issue in https://github.com/coq-community/docker-coq-action/issues as well?

[2020-05-28 18:41] erikmd commented on #36
@Zimmi48

yes that seems doable indeed, e.g. using this action?
https://github.com/appleboy/gh-pages-action#usage

[found in <https://github.com/sdras/awesome-actions#github-pages>]

[2020-05-28 19:10] erikmd commented on #36
Even if GitHub Pages supports the two formats (.html and .md, via the Jekyll machinery), maybe the `.md` is more legible when we directly see the `.md` in the GitHub repository view?

but both choices would be fine anyway!

[2020-05-28 22:40] liyishuai commented on #36
I must have missed the `-s` (`--standalone`) flag. Does adding `-s` solve your problem?

[2020-05-29 00:21] liyishuai opened #47 "Link to coqdoc in index.md"
https://github.com/coq-community/templates/blob/9bfe141b8864358a94279b97fc960d43f1d63247/index.md.mustache#L33

Users should be able to click into coqdoc pages via index. Consider making this line customizable.

[2020-05-29 13:13] Zimmi48 commented on #36
Yes, thanks!

[2020-05-30 10:22] Zimmi48 commented on #41
@erikmd I guess so.

[2020-05-31 15:57] #47 closed

[2020-06-02 03:10] liyishuai opened #50 "README: clone submodules"
The build commands without submodules cause problems like coq-community/coq-ext-lib#89

[2020-06-03 02:15] palmskog opened #51 "Adding optional listing of former project maintainers and displaying them in README"
To give proper credit to our maintainers, I think it would be appropriate to store the coq-community maintainership history in `meta.yml`, regardless of whether it is displayed in `README.md` or not. Based on discussion in the Zulip, there are two convenient ways to do this in `meta.yml`, either as part of the `maintainers` list or as part of a new list.

First option example:
[code]

Second optio

[2020-06-07 19:33] palmskog opened #53 "Coq namespace should be optional in README.md template"
Currently, omitting `namespace` in `meta.yml` results in a nonsensical generated README.md which lists a line with an empty Coq namespace. We should make `namespace` optional, so the README.md template can be used in non-Coq projects, like proviola.

[2020-06-07 19:36] anton-trunov commented on #53
Another option, I guess, would be to introduce a project type selector and not consider `namespace` for non-Coq projects. WDYT? Would it complicate things too much?

[2020-06-07 19:41] palmskog commented on #53
Given that this was the only "non-optional" field for the README.md, having this kind of configurability seems a bit premature. I'm happy to revisit the decision further on when we have more non-Coq projects using the templates, though.

[2020-06-07 19:43] anton-trunov commented on #53
Makes sense, thank you.

[2020-06-08 16:59] #50 closed

[2020-06-15 09:02] palmskog commented on #40
There is another reference to the Gitter chat in the contribution guide in the manifesto repo.

[2020-06-15 09:06] palmskog opened #55 "Allow build status in README.md for other branches than master"
Currently, build status is hardcoded to the `master` branch:
[code]
This should be configurable through some parameter, e.g., `branch`, to let branches like `v8.12` get proper build status. This could also be used in the cloning instructions.

[2020-06-15 15:16] Zimmi48 commented on #40
Good catch!

[2020-06-15 15:20] Zimmi48 commented on #40
coq-community/manifesto#105

[2020-06-19 22:32] #34 closed

[2020-06-25 15:59] #39 closed

[2020-06-25 19:24] chdoc opened #58 "allow specifying the Docker repo for 'tested_coq_opam_versions' for use in config.yml coq-action.yml"
PR #57 adds support for the `repo` variable, allowing to specify a Docker repo other than `coqorg/coq`. However, this feature cannot yet be used with `config.yml` and `coq-action.yml`.

@erikmd , @palmskog I'm using neither Circle CI nor `coq-action`, so I would like to leave this to you.

[2020-06-25 21:34] erikmd commented on #58
Thanks @chdoc, I'll have a look.

[2020-06-25 21:49] erikmd commented on #58
I just opened https://github.com/coq-community/templates/pull/59 for the GitHub action
I'm not a Circle CI user though, so I'll let @liyishuai have a look if he can.

[2020-06-26 00:20] liyishuai opened #62 "CI check generated files"
The current CI workflow only lints `ref.yml`. Is it worth adding some example `meta.yml`s and check their rendered files?

[2020-06-26 00:30] erikmd commented on #62
Why not! :)

also I think this is related to https://github.com/coq-community/templates/issues/24

and maybe there is a couple of enhancements doable along these lines? (e.g., automatically (re)generating the `used:` fields of `ref.yml`?)

[2020-06-26 14:33] palmskog opened #63 "Templating/files related to extracted lead to duplication"
I've come to the conclusion that the `extracted` approach to specify metadata for subprojects (which I introduced) is a failure, leading for example to duplication and redundancy. These subprojects could instead have their own `meta.yml` file or be handled completely manually.

It should be straightforward to excise everything related to extraction from the templates repo, and I will open a PR to

[2020-06-27 06:27] palmskog commented on #58
This was handled by #59 and #61, so closing.

[2020-06-27 06:27] #58 closed

[2020-06-30 02:24] palmskog opened #65 "Documentation of all templates"
Right now, there is no exhaustive documentation of what all templates files are and how they are meant to be used. `ref.yml` documents the options used in the various templates, which to me is a nearly orthogonal kind of documentation. We probably want to have some kind of list of all `*.mustache` files, where each entry has at least a sentence describing it.

[2020-06-30 19:08] #38 closed

[2020-07-03 11:08] chdoc opened #66 "Listing "contributors" in README.md"
Currently, `meta.yml` knows "authors" (initial or not) and "maintainers" and shows them in the `README.md`. How about adding a section for contributors?

For me, being a "contributor" is distinct from both "authorship" and what GitHub lists as contributors. Not everyone who ever created PR (e.g., to update version constraints) is a contributor to the project and not everyone who contributed a few

[2020-07-10 00:38] liyishuai commented on #36
Regarding the Coqdoc generation, I've tried to push documentations to `gh-pages` [automatically](https://github.com/coq-community/coq-ext-lib/blob/ac5f1df273b98f53ba2573cfffcbbbf1e388e4d2/.circleci/config.yml#L56-L84), but later decided to only [generate](https://github.com/coq-community/coq-ext-lib/blob/ae627bc2417e6a4362d7c055e66a1d045f11269f/.circleci/config.yml#L36-L42) them and upload manuall

[2020-07-11 15:56] Blaisorblade opened #68 "Gitlab mirror of this repo is stale"
Nitpick, but https://gitlab.com/coq-community/templates says:

Pull mirroring failed 1 month ago.
Repository mirroring has been paused due to too many failed attempts, and can be resumed by a project maintainer.
Last successful update 1 month ago.

To wit:

![image](https://user-images.githubusercontent.com/289960/87228178-ac878380-c39f-11ea-96a2-e433fcbd3dbc.png)

[2020-07-13 09:09] Zimmi48 opened #69 "State of CI testing with Nix"
It's been a long time since I said I would write this summary issue (cc @siddharthist who was interested in particular).

Overall, the current state of CI testing with Nix is documented in [the wiki](https://github.com/coq-community/manifesto/wiki/Continuous-Integration-with-Nix). It is one of the two newly established and [officially supported](https://github.com/coq/coq/blob/master/dev/ci/README

[2020-07-13 09:33] Zimmi48 commented on #69
I'd like to have a look at the future of our templates for building with Nix on CI.

CI with Nix was the first solution that was explored in our templates (before docker-coq existed) but since then, I've had little time to devote to it and meanwhile, @erikmd has made CI with Docker better and better.

Right now, we support three CI providers in our templates: Travis, CircleCI and GitHub Actions. O

[2020-07-13 09:34] Zimmi48 commented on #68
Thanks, this happens when someone force-pushes to the mirrored branches. I'll have a look now.

[2020-07-13 09:39] #68 closed

[2020-07-13 09:58] Zimmi48 commented on #63
At least the parts in the README do not look to me like they could be handled from their own template. Somehow, this looks directly related to the more general question of how to handle monorepos (several packages sharing a single repository and thus having a shared README).

[2020-07-13 10:01] Zimmi48 commented on #36
1. Every tag and every branch does sound reasonable to me. What does @palmskog think?
2. Yes, it seems to me that the two branches should be completely unrelated.
3. I would say no if we provide good enough automation.

[2020-07-13 10:06] palmskog commented on #36
1. I think it should only be done on (every) tag. I don't understand why one would want it for a branch, though.
2. I personally start the `gh-pages` branch with a clean/nonexistent history (`git checkout --orphan gh-pages`, see for example [here](https://stackoverflow.com/questions/12543055/how-to-push-new-branch-without-history/34954852).
3. I can definitely see scenarios where one would want to

[2020-07-13 10:11] Zimmi48 commented on #36
Regarding why pushing doc also for branches, we do this in the Coq repo (see https://coq.github.io/doc/) and it's pretty convenient to point to the doc of unreleased stuff or to preview the documentation before releasing. But I guess this really depends on the size of the project. This could be an option that's disabled by default.

[2020-07-13 22:04] CohenCyril commented on #69
Hi! Thanks for pinging me @Zimmi48. I indeed experimented a lot with nix for mathcomp, I am not entirely satisfied with the current result, but I have plans to make it better and extend to all coq packages. With cachix and github actions, it leads to really quick and reproducible CI, and I even intend to provide "copy vo" feature to get started instantaneously e.g. when getting started with a bran

[2020-07-24 14:40] #53 closed

[2020-07-25 10:31] Zimmi48 opened #71 "Do not display auto-generated files in GitHub PR diffs"
GitHub supports marking some committed files as auto-generated, in which case, they are not shown by default in PR diffs (as in https://github.com/conda-forge/coq-feedstock/pull/13/files). If we want to use this feature, the trick is to pass `linguist-generated=true` in `.gitattributes`, as shown [here](https://github.com/conda-forge/coq-feedstock/blob/master/.gitattributes).

[2020-07-29 10:25] #66 closed

[2020-09-02 05:43] anton-trunov opened #73 "Should we have recommended project structure?"
A number of projects have a structure like the following one:
[code]

Others just have every file in the project root directory or some adhoc directory structure.
Of course, it's not possible for all projects to have the same structure, but I think having a recommended structure, especially for small projects, might help with context switching during maintenance.

If you think it could be benefici

[2020-09-07 13:43] Zimmi48 commented on #73
The manifesto's wiki seems like the right place since it's already used to document other existing conventions.

[2020-09-07 13:46] anton-trunov commented on #73
Thanks for the suggestion, I'll try to have a go at it and will post the link here.

[2020-09-08 16:19] anton-trunov commented on #73
Ok, here you go, an initial draft: https://github.com/coq-community/manifesto/wiki/Recommended-Project-Structure. I took the liberty of recommending some particular choices, e.g. the default choice of CI I put in is Travis CI. This may not be accurate, but I think something has to be recommended anyway. Please feel free to correct any mistakes I made and add more information. I was aiming at newco

[2020-09-08 16:24] Zimmi48 commented on #73
Good point on having to recommend something. I am of the impression however that we should switch to recommending GitHub Actions instead of Travis CI soon (if not now). The only issue is that we don't (yet) have templates for the GitHub Actions setup using Nix. See also what I wrote in #69.

[2020-09-08 16:26] anton-trunov commented on #73
Fully agreed! I hesitated in favor of GitHub Actions for a bit, but Travis CI is currently used in many community projects. I guess we should switch at least some of them, see how things go and change the recommendation.

[2020-09-08 16:29] palmskog commented on #73
I also agree with @Zimmi48 regarding GitHub Actions. The main reason to go with Travis right now is to have the option to build with Nix. However, this is not a strong reason for many projects, and we could hopefully add Nix CI based on GitHub Actions later on.

[2020-09-08 16:34] Zimmi48 commented on #69
@palmskog reported that Cachix's caching has been failing on Travis recently and this is despite the fact that I pushed a fix related to a similar issue just two months ago (b880f68fffa0b770a1fc48168a41dc9cb45789b5). I didn't have time yet to figure out what's going wrong this time, but this hints again that our Nix on Travis support isn't really sustainable. As I mentioned in #73, I'd like to sta

[2020-09-08 20:19] CohenCyril commented on #69
@Zimmi48 I intend to contribute, but with CPP's deadline, it might not be before the end of the month. Is it an emergency?

[2020-09-08 21:20] Zimmi48 commented on #69
Thank you.
Not an emergency, of course!

[2020-10-13 09:55] lthms commented on #55
I am in need of this, tbh, and would happily propose a change to implement this if this is okay with you!

[2020-10-13 10:06] palmskog commented on #55
A PR for this issue would be welcome.

[2020-10-13 21:07] Zimmi48 commented on #69
@CohenCyril Friendly reminder of this issue now that the CPP deadline has passed :wink:

[2020-10-13 21:20] CohenCyril commented on #69
Thi task is scheduled for next week!

[2020-10-14 15:02] #55 closed

[2020-11-20 13:45] chdoc opened #77 "adding support for nighty and weekly builds for CI based on GitHub actions"
While converting some of my projects from Travis CI to GitHub actions, I realized that there is no easy (point and click) way to enable regular running of the CI on the master branch to catch up on changes to dependencies (in particular if CI runs against `coq.dev` or `mathcomp.dev`).

I propose to introduce a new variable `cron_schedule` whose value is a cron schedule expression (e.g. `5 4 * * 1`

[2020-11-20 13:51] Zimmi48 commented on #77
We could also have a boolean variable to activate scheduled jobs and a default cron expression (e.g. `5 4 * * *`, i.e., every night) that you can override by providing another variable.

[2020-11-20 13:58] chdoc commented on #77
While I do think that `coq-communty` is (presently) too small for this to truly matter, I would feel bad about encouraging a model where the bulk of all projects run their nightly/weekly CI the same minute. Unfortunately, our simple mustache-based setup does not allow us to randomize this. So it was a conscious decision to not suggest defaults. :thinking:

[2020-11-20 16:30] Zimmi48 commented on #69
Due to new critically low build minute limits introduced by Travis CI, we are going to switch coq-community projects that relied on Travis to GitHub Actions (see https://coq.zulipchat.com/#narrow/stream/237663-coq-community-devs.20.26.20users/topic/New.20Travis.20limits.2E). This means that projects won't be tested with Nix anymore until there is a GitHub Action template for Nix. For some projects

[2020-11-20 16:38] CohenCyril commented on #69
I did not manage to do it so far, the time I allocated for this was too short.
I will try again next week, and if I do not succeed, I wouldn't mind a group session on this at the CUDW (or before).

[2020-11-22 16:11] erikmd commented on #77
Hi @chdoc, thanks for opening this issue!

here is an example: https://github.com/coq/bignums/blob/master/.github/workflows/build-coq-bignums.yml#L10-L12

I fully agree with you remark.

but maybe a workaround for this issue would be just to hard-code a time slot of 1 hour, or 4 hours, e.g. 02:00/06:00 UTC (or make it configurable in the `meta.yml` file), then rely on the `generate` script to pick

[2020-11-22 17:47] chdoc commented on #77
@erikmd Thank you for the example, but I'm not entirely sure I fully understand the YAML structure of `schedule`. The documentation seems to suggest that `schedule` only ever applies to the latest commit on the default branch. Is that correct?

I don't like the idea of relying on the generate script for such things, because I fear that once we add one hack there, other hacks will follow. I think t

[2020-11-22 18:25] erikmd commented on #77
exactly: the scheduled workflows will only be run for the default branch

this is a nice proverb :)

however, if the feature at stake is properly implemented (so that it is not viewed as a hack!), I wouldn't be too afraid to extend that script.

sure. but on the other hand, if there is no warning or so saying that the daily cron should be somewhat "random", users will probably always chose the sam

[2020-11-24 09:35] charguer commented on #69
Concretely, do you messages mean that I should take action to remove the Nix build for the ci of TLC? e.g. https://travis-ci.com/github/charguer/tlc/builds/203743460
(If so, please let me know which line/file/config to remove.)

[2020-11-24 09:49] Zimmi48 commented on #69
@charguer The problem is not with Nix, the problem is with Travis. See the Zulip discussion referenced above. You can go to https://travis-ci.com/account/plan to see how many build credits you have left. If you use Travis a lot, you are bound to spend them quite fast, and then Travis won't work for you anymore. This is why we are switching all coq-community projects to GitHub Actions (we've spent

[2020-11-30 14:00] chdoc opened #78 "provide a curated shortlist of `meta.yml` files that serve as good starting points."
One of the main hurdles for using templates is to come up with a `meta.yml` file. The `README.md` should list `meta.yml` files from a few well-chosen community projects covering various setups (plugins, pure libraries, one-branch, version-branches, dependencies, etc.)

Suggestions (will edit to follow discussion):

The `meta.yml` files of the following projects may serve a starting point.
- [Huffm

[2020-12-01 08:09] palmskog commented on #78
I think we need projects that do not use the coq-community side of the templates as well, for example:
- [StructTact](https://github.com/uwplse/StructTact) (pure library, no dependencies, no coq-community): [meta.yml](https://github.com/uwplse/StructTact/blob/master/meta.yml)

[2020-12-01 08:15] palmskog opened #79 "Document that the Travis template is deprecated"
This is a reminder that we need to document that the Travis template is now deprecated, but will be retained for possible use by anyone who has a paying Travis account, etc.

[2020-12-03 16:51] chdoc commented on #78
Hmm, I was about to add

- [Huffman](https://github.com/coq-community/huffman) (pure library, no dependencies, coq-community) : [meta.yml](https://github.com/coq-community/huffman/blob/master/meta.yml)

However, in the [meta.yml](https://github.com/coq-community/huffman/blob/master/meta.yml#L43) I find the wollowing:
[code]
Given that the project uses `actions`, which IIUC currently does not suppo

[2020-12-03 20:10] erikmd commented on #77
Hi @chdoc @Zimmi48, thoughts on my last proposal − https://github.com/coq-community/templates/issues/77#issuecomment-731805588 ?

[2020-12-03 20:30] chdoc commented on #77
I still think that the simplest solution, to just ask people to define a `cron_schedule` variable in cron syntax is to be preferred. Moreover, I think the majority of projects will do just fine with a weekly schedule.

[2020-12-04 07:35] palmskog commented on #78
@chdoc the reason I keep Nix in `meta.yml` is in anticipation of Cyril's work on Action-based Nix CI. It's free to have there in the meantime.

[2020-12-05 13:16] Zimmi48 commented on #77
@chdoc's solution being the easiest one to implement, I would just go with that one for now.

[2020-12-07 13:45] #78 closed

[2020-12-08 13:58] CohenCyril opened #84 "All generated file should mention they were generated"
I suggest adding a header to each template, as a comment in the target language, to mention two things:
- that they are generated
- how to regenerate them
- that this is documented here on coq-community/templates.

Hence I suggest that the following gets added to all generated file assuming
1. `#` is the symbol for commenting in the target language of a given template
2. that `meta.yml` is the nam

[2020-12-08 14:07] Zimmi48 commented on #84
The header sounds like a good practice indeed.

I'm not convinced by the `regenerate.sh` script though. My point of view was rather than one could set up @coqbot to automatically open PRs when the templates are updated.

[2020-12-08 14:39] CohenCyril commented on #84
this is not incompatible... the script coqbot runs could be available to users as well...

[2020-12-08 14:54] Zimmi48 commented on #84
For sure. I'm just not inclined to commit it everywhere.

[2020-12-08 14:55] CohenCyril commented on #84
This could be an option of `meta.yml` ;)

[2020-12-08 15:18] strub opened #85 "The documentation should point to working reference implementation for (at least) the major OS."
Hi,

Currently, it is not clear how to get a workable `mustache` implementation under MacOS. The `mustache` packaged in `opam` does not accept `YAML` as input. I tried `gem install mustache` which does not seem to install a binary (only a ruby package) - (I could certainly wrap a simply ruby script, but that not scalable). I tried `go get github.com/hoisie/mustache` which... does not seem to insta

[2020-12-09 10:23] Zimmi48 commented on #85
Does `brew install mstch` work? (I didn't try it and its README is not clear on whether it supports YAML).
Otherwise, it seems that the JS implementation available on npm (https://www.npmjs.com/package/mustache) includes a CLI tool. This should be pretty much universal...

[2020-12-10 15:15] Zimmi48 commented on #79
This was recently documented as "not for coq-community projects" in the README.

[2020-12-10 15:15] #79 closed

[2020-12-10 15:15] Zimmi48 commented on #79
Though we should also fix https://github.com/coq-community/manifesto/wiki/Recommended-Project-Structure

[2020-12-10 15:23] strub commented on #85
So, I managed to find the `mustache` binary installed by `gem install mustache`- (I am not versed in the ruby environment, the binary was not accessible via `$PATH` by default). Answering your previous question, `brew install mstch` (that is not listed by `brew search mustache`) installed a C++ library, but not a CLI front-end, as shown by `brew ls --verbose mstch`:

[code]

Requiring users to ins

[2020-12-10 16:01] anton-trunov commented on #85
That would be great! Here is the relevant issue: https://github.com/rgrinberg/ocaml-mustache/issues/40

[2020-12-10 16:26] anton-trunov commented on #79
I did a pass on this and tweak some more sections along the way.

[2020-12-10 16:29] Zimmi48 commented on #79
Great, thank you!

[2020-12-10 16:29] anton-trunov commented on #79
Thanks for the reminder!

[2020-12-10 16:45] #84 closed

[2020-12-10 17:36] strub commented on #85
See rgrinberg/ocaml-mustache#45. Note that this is still not sufficient to parse/interpret all the templates of this repository. But I am working on this.

[2020-12-10 17:41] Zimmi48 commented on #73
@anton-trunov Should we close this issue now?
@palmskog Should the `index.md` file be added to the recommended project structure? (Under `resources/`?)

[2020-12-10 17:45] anton-trunov commented on #73
Yes, closing this issue sounds fine to me.

[2020-12-10 17:47] #73 closed

[2020-12-10 17:49] Zimmi48 commented on #45
Is the command now documented in the `README` for Nix users enough to close this issue?

[2020-12-10 17:51] CohenCyril commented on #45
I still think there should be a `shell.nix`

[2020-12-10 17:51] CohenCyril commented on #45
I can submit a PR for that

[2020-12-10 18:02] #45 closed

[2020-12-10 18:05] Zimmi48 commented on #24
Wasn't this issue fixed by the introduction of `ref.yml` (as opposed to the other documentation issue #65)?

[2020-12-14 18:45] Zimmi48 commented on #40
Last project updated, we can finally close this :tada:

[2020-12-14 18:45] #40 closed

[2021-02-03 19:22] Zimmi48 commented on #69
A use case that is not easily solved by Docker-Coq-Action was raised in https://github.com/coq-community/docker-coq-action/issues/51. It is the one of easily installing any given version of Coq with any given version of Haskell or Python. The Nix-based CI template could be a good fit for this use case.

[2021-03-26 18:46] Zimmi48 commented on #71
We need a system to be able to tell `generate.sh` that some file has been manually modified and should not be overwritten when regenerating from the templates. With @CohenCyril, we have considered using the header comments as a signal whether the file is auto-generated or not, but this doesn't work for files which do not support header comments like `dune-project`. So instead, we've decided that w

[2021-04-04 17:25] Zimmi48 opened #95 "Moving away from mustache"
Mustache is a pretty limited template language. In particular with respect to conditionals. Here are some options for moving away from it:

- Use Ruby. I don't know this language yet but I heard it's pretty well suited for advanced templating (in particular with ERB IIUC).

- Parse the `meta.yml` file and generate everything in OCaml. IINM, there doesn't exist a YAML parser in OCaml but there is a

[2021-04-06 10:39] Zimmi48 commented on #69
An update of this issue: we have been working a lot with Cyril at improving the Nix support for the Coq ecosystem. There is now a (still unstable until the first release) [coq-nix-toolbox](https://github.com/coq-community/coq-nix-toolbox) and the templates are soon going to be updated to rely on it for Nix-based CI (#87).

We have also subscribed to a larger Cachix storage for the Coq community. T

[2021-04-06 18:19] liyishuai opened #96 "CircleCI with ARM"
Once the coq-community has access to ARM resources on CircleCI, it might be worth adding some `circleci_arm` option to the template.

[2021-04-12 19:23] Zimmi48 commented on #95
I've just learned about an OCaml templating project: https://github.com/EmileTrotignon/embedded_ocaml_templates

Together with YAY, this might be enough to move away from mustache without having to learn Ruby.

[2021-04-13 08:46] #77 closed

[2021-04-23 13:07] chdoc opened #98 "Handling of `chat` for coq-community projects"
Currently, every coq-community project has a badge linking to the coq-community channel on Zulip, regardless of whether this project defines it's own chat or not. This looks particularly silly for projects having their own channel on Zulip, as there structure of the badges is different, i.e., we get `[ chat | on zulip ]` for coq-community and something like `[ Zulip | join chat ]` using the `chat`

[2021-08-04 10:09] palmskog commented on #69
It looks like Nix CI with Cachix is broken for tarballs once again, I'm getting full 20 min builds every time since about a week, for example: https://github.com/coq-community/aac-tactics/runs/3240237246

I'm guessing this will be fixed by the Nix toolbox? In the meantime, maybe we want to completely avoid Nix CI for all tarball builds.

[2021-08-04 12:55] Zimmi48 commented on #69
Yes, sorry that's my fault. I've started the transition of Coq's CI to the toolbox infrastructure. Depending on how much needed this legacy CI setup is, I can either prepare a PR on the Coq side to fix the problem, or we can disable the legacy CI system on the few projects that are left using it.

[2021-08-04 13:06] palmskog commented on #69
@Zimmi48 the main problem right now is that we have no CI option for 8.14 right now except using Nix.

As I pointed out in https://github.com/coq-community/aac-tactics/pull/77 the Nix toolbox approach is way too complex for me to handle, so when Docker support for 8.14 arrives, I will disable Nix CI in all my projects.

[2021-08-04 18:52] Zimmi48 commented on #69
@palmskog the PR that broke the binary cache for your use case (coq/coq#14590) hasn't yet been backported, so 8.14 testing should still work as before.

I also acknowledge your use case and point of view on the toolbox and will think about providing a simpler, toolbox-compatible, Nix CI setup. I'm expecting this should be quite doable.

[2021-08-04 19:03] palmskog commented on #69
But the CI run I linked to (https://github.com/coq-community/aac-tactics/runs/3240237246) was already using 8.14, namely, `https://github.com/coq/coq-on-cachix/tarball/v8.14`, and I still got the 27 min running time. What do I need to do for 8.14 caching to work?

Sounds good that there could be a simple CI setup for Nix. It looks like we are going to spend several more years of using both coq_mak

[2021-08-05 18:07] Zimmi48 commented on #69
OK, then my interpretation of why it was not working as before wasn't correct. That being said, instead of investigating the reason, I will work at providing a lightweight toolbox-based alternative, that should hopefully also be more robust in the long run.

[2021-08-10 13:36] Zimmi48 opened #102 "coq-community projects still referencing legacy Nix infrastructure."
As of #99, there shouldn't be any `default.nix` file auto-generated with the templates in coq-community projects (`default.nix` files generated directly with the Coq Nix Toolbox infrastructure or manually written `default.nix` files are fine). There should also no longer be any `version_or_url` fields in the `meta.yml` files. Here are the remaining offending repositories:

- [ ] https://github.com

[2021-08-11 17:49] erikmd commented on #41
Hi @palmskog,

do you believe this use case still needs some automation via a dedicated feature in docker-coq-action and/or in templates?

FWIW, there is now:
* some documentation in docker-coq-action's README: [Install Debian packages](https://github.com/coq-community/docker-coq-action#install-debian-packages);
* and ["demo" GHA job in docker-coq-action's CI](https://github.com/coq-community/dock

[2021-08-11 17:55] palmskog commented on #41
@erikmd I still need this feature for some of my projects, but the non-depext workaround (your installation of Debian packages) is not a huge pain. But hasn't depext now been improved in opam 2.1 and later? I think we can keep this issue open until we figure out the "right" way to install depext'd stuff.

[2021-08-11 22:37] Zimmi48 commented on #41
Yes, `opam-depext` is now superseded by `opam install` itself in opam 2.1.

[2021-08-16 09:25] palmskog commented on #102
I will take care of almost-full, bertrand, buchberger, and jmlcoq.

I think we can ping @anton-trunov to fix alea and lemma-overloading. The former should be able to easily use the lightweight Nix CI (see huffman for how that is done).

[2021-09-07 11:20] palmskog opened #103 "Failing simple Nix workflow for scheduled jobs"
As first reported by @chdoc, the simple Nix CI workflow currently implemented by the `nix-action.yml.mustache` template currently fails for scheduled (`cron`) jobs. The failures appeared after the changes in #100, and are very likely related. Basically, *all* Nix CI jobs fail with the same message:
[code]
One example of a failing job can be found here: https://github.com/coq-community/reglang/acti

[2021-09-07 11:31] Zimmi48 commented on #103
Indeed, I'm not surprised, because I forgot to test and account for this trigger. I'll look into it today to see if there's an easy fix or if we should temporarily remove the `schedule` trigger from the template.

[2021-09-08 08:00] #103 closed

[2021-09-13 17:10] ejgallego opened #105 "Current setup vs full repository project templates?"
Hi folks,

this is a follow up from the discussion at https://coq.zulipchat.com/#narrow/stream/240550-Dune-devs.20.26.20users/topic/.E2.9C.94.20Dune.2C.20_CoqProject.20and.20tests ; indeed, it seems to me that the current "template" setup may be a bit limited (see also #95 ) , in particular as to setup full projects such as the plugin template.

Moreover, we have the current alternative Coq projec

[2021-09-14 07:09] Zimmi48 commented on #105
IMHO you are comparing two very different things. On the one hand, this repository should be considered as a tool to generate *and maintain* some standard files (e.g. CI) for both new *and preexisting* projects. On the other hand, the repositories you point to are example projects that demonstrate how to do certain things and can be used as a template to create a new project. (BTW, given that GitH

[2021-09-14 07:13] palmskog commented on #105
I fully agree with the analysis of Théo, and I even have a local `meta.yml` for program verification template (which I didn't want to distract people with).

But more generally, how do you feel about hosting template repos like Emilio's and mine in coq-community @Zimmi48? Maybe the proper place for this discussion is in the manifesto repo?

[2021-09-14 07:17] Zimmi48 commented on #105
It would totally make sense to host these repos in coq-community indeed! And sure, that would probably deserve a discussion in the manifesto repo. Should we just transfer the current issue over there (since GitHub supports that)? Or is it worth keeping as a separate issue?

[2021-11-03 08:59] palmskog opened #109 "Nix CI workflow failure on Coq master with old template"
In Huffman, the simple Nix CI workflow seems to consistently fail on Coq `master` for the last two days, for example: https://github.com/coq-community/huffman/runs/4090267105?check_suite_focus=true

Error message:
[code]

Not sure if this is related to changes in the Coq Nix Toolbox or not, so reporting here first @Zimmi48.

[2021-11-03 09:31] Zimmi48 commented on #109
I think the two lines above in the log are what matters:
[code]

They seem to indicate that the problem is that the version of Nix that is installed has been upgraded to 2.4 but the Cachix commands that are run are not expecting that. There have been updates to these Cachix actions recently: can you regenerate your workflow from the latest version of the templates to see if the failure still occur

[2021-11-03 09:41] palmskog commented on #109
OK, it looks like rolling out the latest simple Nix CI templating makes the problem go away. I was confused since in a pull request, the "new" Nix CI and the "old" Nix CI are both run, and the only visible difference is the suffix after `pull_request_`.

But these observations also mean an old Nix simple workflow CI is completely broken, and must be updated everywhere. Now I get some use of the `n

[2021-11-03 13:19] palmskog commented on #109
Closing now since I believe I have updated all `nix-action.yml` in coq-community.

[2021-11-03 13:19] #109 closed

[2021-11-03 13:48] Zimmi48 commented on #109
Thanks! It's annoying that this update was required indeed.

[2022-01-21 08:40] ybertot commented on #85
I would like to add that on a fedora distribution of linux, I did not have mustache by default, a "dnf search mustache" showed "rubygem-ustache.noarch", which I inferred to be the closest to ruby-mustache, as prescribed by the README file.  I don't find this foolproof enough.  Any opinion?

[2022-02-16 10:05] intoverflow commented on #95
In my humble opinion it would be nice to keep the non-OCaml dependencies to a minimum. The Coq ecosystem is already coupled to OCaml. It may be expedient to write the tooling in Python or Ruby, but doing so adds Yet Another Language Ecosystem to the stack of things a user would need to setup in order to use the tool.

Instead of complicating our tech stack with extra language dependencies, I'd lik

[2022-02-16 15:50] Zimmi48 commented on #95
We (Karl and I) are in agreement that it's better to depend on the OCaml ecosystem because it will make it easier for Coq users to contribute than if we were to use, say Ruby. So this is what we plan for the v2 of the templates.

Regarding the question of a YAML parser, there are actually two options: the YAY (full OCaml) parser and the ocaml-yaml library (both were mentioned above). So we should

[2022-02-17 11:19] kyoDralliam opened #114 "`generate.sh` should error gracefully when `meta.yml` does not exist"
The generating scripts does not error when `meta.yml` does not exists but creates a `'Error: open meta.yml: no such file or directory.opam'` file.

[code]

It may be more useful for the script to error and propose to create a basic `meta.yml` file to be completed.

[2022-02-17 12:06] Zimmi48 commented on #114
Related to #42.

[2022-03-08 19:39] erikmd commented on #95
Just in case FYI, there would also be the solution of using a `bash` script + `yq`, see e.g.:

https://stackoverflow.com/questions/71393380/fetch-variables-values-from-yml-and-pass-to-shell-script/71397858#71397858